# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
PUBLIC_URL=""          # Set when deployed publicly, e.g. "https://mysite.com". Informs OAuth client id.
DB_PATH=":memory:"     # The SQLite database path. Leave as ":memory:" to use a temporary in-memory database.

# Secrets
# Must set this in production. May be generated with `openssl rand -base64 33`
# COOKIE_SECRET=""

### PMsky specific vars
PUBLISH_TO_ATPROTO=false # only interacts with ATP if true
LOG_LEVEL=info

# these handle connection to the service account.
# PMsky publishes records to a platform-wide ATP account,
# as a method for private votes and collective label publishing.
# see docs.pmsky.social for more
SVC_ACT_DID="did:plc:1234"
SVC_ACT_EMAIL="e@mail.com"
SVC_ACT_APP_PW="hunter2"
