body {
  font-family: Arial, Helvetica, sans-serif;

  --border-color: #ddd;
  --gray-100: #fafafa;
  --gray-500: #666;
  --gray-700: #333;
  --black: #000;
  --primary-100: #d2e7ff;
  --primary-200: #b1d3fa;
  --primary-400: #2e8fff;
  --primary-500: #0078ff;
  --primary-600: #0066db;
  --error-500: #f00;
  --error-100: #fee;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Common components
*/
button,
.button {
  display: inline-block;
  border: 0;
  background-color: var(--primary-500);
  border-radius: 50px;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: var(--primary-400);
}

/*
  Custom components
*/
.error {
  background-color: var(--error-100);
  color: var(--error-500);
  text-align: center;
  padding: 1rem;
  display: none;
}

.error.visible {
  display: block;
}

#header {
  background-color: #fff;
  text-align: center;
  padding: 0.5rem 0 1.5rem;
}

#header h1 {
  font-size: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.card {
  /* border: 1px solid var(--border-color); */
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #fff;
}

.card> :first-child {
  margin-top: 0;
}

.card> :last-child {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  gap: 6px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #fff;
}

.login-form input {
  flex: 1;
  border: 0;
}

.signup-cta {
  text-align: center;
  text-wrap: balance;
  margin-top: 1rem;
}

h1>a {
  color: var(--gray-700);
  /* text-decoration: none; */
}